#tb-calendar {
    border: 1px solid black;
}

#tb-calendar thead tr {
    background-color: #ffa55099;
    font-size: large;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}
#tb-calendar thead tr th {
    border: 1px solid black;
}

#tb-calendar td {
    border: 1px solid black;
    width: 200px;
    line-height: 10px;
    background-color: #c9b14999;
}
#tb-calendar td .content {
    font-size: small;
    text-align: left;
}
#tb-calendar td p:first-of-type {
    font-weight: bold;
    text-align: right;
}
#tb-calendar tr td:first-child, #tb-calendar tr td:last-child {
    background-color: #977c0299
 }